.nav-link{
color: #ffffff;
font-size: 14px;
}
.hd{
    margin: 2% 0%;
}
.carousel{
    margin: 2% 0%;
}
.carousel > img{
    width: 100% !important;
    height: 400px !important;
}
.blue{
    background-color: blue;
    margin: 2% 0%;
 }
.footer-text{
    color: #ffffff;
    font-size: 14px;
}
.text-uppercase{
    color: #ffffff;
    font-size: 14px;
}
