.nav-link{
color: #ffffff;
font-size: 14px;
}
.hd{
    margin: 2% 0%;
}
.carousel{
    margin: 2% 0%;
}
.blue{
    background-color: blue;
    margin: 2% 0%;
 }
.footer-text{
    color: #ffffff;
    font-size: 14px;
}
